.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-error{
    border: 1px solid red;
}

.sucess-message{
    color: green;
    font-weight: 700;
}

.form-container p{
    color: red;
    font-size: 0.9rem;
}

.form-container label {
    padding: 0% 15%;
    align-self: flex-start;
}

#titulo, #contenido, #email{
    width: 70%;
}