.articulos{
    padding: 16px;
    max-width: 600px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card{
    border: 1px solid rgba(4, 93, 26, 0.625);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    color: rgb(37, 10, 124);
    box-shadow: 0 2px 5px rgb(30, 140, 16);
    background-color: antiquewhite;
}